.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

html, body, label, input, textarea, button, input[type='file'] {
  font-family: 'Inter', 'Helvetica', sans-serif;
  font-size:16px;
  line-height: 21px;
}

h1,h2,h3 {
  padding: 5px 0 18px 0;
  margin: 0;
}

input[type='text'], textarea {
  padding: 10px;
  font-size: 18px;
  line-height: 23px;
  width: 100%;
  resize: none;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

button {
  border: none;
  border-radius: 20px;
  background-color: #ff5500;
  font-weight: bold;
  font-size: 14px;
  line-height: default;
  height: 35px;
  padding: 0 18px 0 18px;
}

button:hover {
  color: white;
  background-color: #aa1100;
  cursor: pointer;
}

button.lite-bg {
  background-color: #fff3dd;
  margin-right: 10px;
  padding: 0 5px 0 5px;
}

button.lite-bg:hover {
  color: #ff5500;
}

.modal-layer {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,.23);
  backdrop-filter: blur(3px);
}
.modal-content {
  background-color: white;
  border-radius: 20px;
  width: 70%;
  height: 70%;
  margin: 80px auto 0 auto;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 35px;
}

.labeled-input {
  margin: 0 0 15px 0;
}

#root-container {
  margin: 10px 40px 10px 40px;
}

#main-navigation {
  display: flex;
  flex-direction: row;
  margin: 30px 0 10px 0;
}

#home-button {
  height: 36px;
  font-size: 32px;
  width: 70%;
  cursor: pointer;
}

#user-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 30%;
  height: 36px;
  right: 0;
  padding-left: 10px;
  padding-right: 10px;
}

#user-container .user-pic {
  display: none;
  margin-right: 10px;
}

.user-pic {
  position: relative;
  display: inline-block;
  background-image: url('/images/profile_placeholder.png');
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
  background-size: 36px;
  border-radius: 20px;
}

#user-container #user-name {
  font-size: 16px;
  line-height: 36px;
  padding-right: 10px;
  padding-left: 20px;
  display: none;
}

#user-container #sign-in {
  display: none;
}

/*pages*/

.culture-home {
  width: 100%;
  margin: 10px 0 20px 0;
  border-top: 1px solid #ddd;
}

.culture-home:hover {
  cursor: pointer;
  background-color: #f7f7f7;
}

.culture-header {
  padding: 10px 0 20px 76px;
}

.culture-description {
  padding-bottom: 18px;
}

.agent-container {
  display: flex;
  flex-direction: row;
  font-size: 14px;
}
.agent-container .agent {
  width: 23px;
  height: 23px;
  background-color: #ccc;
  border-radius: 50px;
  margin: 0 3px 0 0;
  padding: 0;
  vertical-align: middle;
  text-align: center;
}
.agent-container .agent:hover {
  background-color: #111;
  cursor: pointer;
}
.agent-container .label {
  padding: 0 3px 0 0;
}
.agent-container .agent-cells {
  display: flex;
  flex-direction: row;
}
.agent-container .add-agent {
  cursor: pointer;
}
.agent-container .add-agent:hover {
  color:#ff5500;
}
.agent-console {
  font-size: 12px;
  line-height: 16px;
}
.agent-console .prompt {
  color: #333;
  font-weight: bold;
  padding: 10px 30px 20px 0;
}
.agent-color .response {

}
#agent-form textarea {
  height: 120px;
}
.agent-buttons {
  display: flex;
  flex-direction: row;
}

.agent-buttons button {
  margin-right: 5px;
}

.intro-main {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #ddd;
}

.intro-main:hover {
  background-color: #f7f7f7;
  cursor: pointer;
}

#add-intro {
  border-top: 1px solid #ddd;
}

#intro-ta {
  border: none;
  height: 100px;
  padding: 0;
}

#intro-ta:focus{
    outline: none;
}

.twoColumn {
  display: flex;
  flex-direction: row;
}

.col1 {
  width: 76px;
}

.intro-user-pic {
  position: relative;
  display: inline-block;
  /* background-image: url('/images/profile_placeholder.png') ;
  background-repeat: no-repeat; */
  width: 46px;
  height: 46px;
  background-size: 46px;
  border-radius: 23px;
  margin-top: 10px;
}
.intro-user-pic img {
  border-radius: 50%;
  width: 46px;
  height: 46px;
}

.col2 {
  margin: 10px;
  font-size: 14px;
  width: 100%;
}

.col2 .author {
  font-weight: bold;
}

.col2 .time {
  color: #999;
  padding-left: 4px;
}

.col2 .text {
  padding: 8px 13% 20px 0;
  text-overflow: ellipsis;
  max-height: 63px;
  overflow: hidden;
}

#intro-form-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.padding {
  width: 100%;
}


.file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  width: 32px;
  height: 32px;
}
