.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

* {
  box-sizing: border-box;
}

html,
body,
label,
input,
textarea,
button,
input[type='file'],
h1,
h2,
h3 {
  font-family: 'Inter', 'Helvetica', sans-serif;
  font-size: 16px;
  line-height: 21px;
  margin: 0;
  padding: 0;
}

h1 {
  padding: 5px 0 18px 0;
  margin: 0;
  font-size: 36px;
}

h2 {
  padding: 5px 0 18px 0;
  margin: 0;
  font-size: 28px;
}

h3 {
  padding: 5px 0 18px 0;
  margin: 0;
  font-size: 18px;
}

input[type='text'],
textarea {
  padding: 10px;
  font-size: 18px;
  line-height: 23px;
  width: 100%;
  resize: none;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

input[type='text']:focus,
textarea:focus {
  outline: none;
}

button {
  border: none;
  border-radius: 20px;
  background-color: #ff5500;
  font-weight: bold;
  font-size: 14px;
  line-height: default;
  height: 35px;
  padding: 0 18px 0 18px;
}

button:hover {
  color: white;
  background-color: #aa1100;
  cursor: pointer;
}

button.lite-bg {
  background-color: #fff3dd;
  margin-right: 10px;
  padding: 0 5px 0 5px;
}

button.lite-bg:hover {
  color: #ff5500;
}

.modal-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, .23);
  backdrop-filter: blur(3px);
}

.modal-content {
  background-color: white;
  border-radius: 20px;
  width: 70%;
  height: 70%;
  margin: 80px auto 0 auto;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 35px;
}

html,
body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: hidden;
}

#root>.col1 {
  width: 10%;
  min-width: 100px;
  height: 100%;
  border-right: 1px solid #ddd;
}

#root>.col2 {
  width: 63%;
  height: 100%;
  border-right: 1px solid #ddd;
  overflow-y: auto;
}

#root>.col3 {
  width: 27%;
  height: 100%;
  font-size: 14px;
  line-height: 23px;
  overflow-y: auto;
}

.nav-logo {
  font-size: 80px;
  color: #ff5500;
  padding: 20px 0 0 10px;
}

.padded {
  padding: 20px;
}

.tabGroup {
  display: flex;
  flex-direction: row;
}

.tab {
  padding: 5px 20px 3px 20px;
  cursor: pointer;
}

.tab:hover {
  background-color: #ddd;
}

.tab.selected {
  border-bottom: 4px solid #ff5500;
}

#home-button {
  height: 36px;
  font-size: 32px;
  cursor: pointer;
}

.login-button {
  cursor: pointer;
  margin: auto;
  position: absolute;
  bottom: 20px;
  left: 30px;
  font-size: 40px;
}



/*pages*/

.culture-home {
  width: 100%;
  margin: 0;
  padding: 20px 60px 40px 20px;
  border-top: 1px solid #ddd;
  font-size: 23px;
  line-height: 30px;
}

.culture-home:hover {
  cursor: pointer;
  background-color: #f7f7f7;
}

.culture-description {
  padding-bottom: 18px;
}

#culture-options {
  position: sticky;
  bottom: 20px;
  float: right;
  padding-right: 20px;
}

.agent-container {
  font-size: 14px;
}

.agent-container .agent {
  width: 43px;
  height: 43px;
  background-color: #ccc;
  border-radius: 50px;
  margin: 4px;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  border: 2.5px solid #333;
  float: left;
}

.agent-container .agent:hover {
  background-color: #111;
  cursor: pointer;
  border: 2.5px solid #ff5500;
}

.agent-container .agent img {
  width: 43px;
  height: 43px;
}


.agent-container .add-agent {
  cursor: pointer;
  font-size: 50px;
}

.agent-container .add-agent:hover {
  color: #ff5500;
}

.col3 {
  font-size: 12px;
  line-height: 14px;
}

.col3 .prompt {
  color: #333;
  font-weight: bold;
  border-top: 1px solid #ddd;
  padding: 20px 50px 20px 20px;
  font-family: 'Source Code Pro', monospace;
}

.col3 .response {
  color: #333;
  padding: 0 50px 20px 20px;
}

.col3 .log {
  color: #666;
  padding: 0 20px 10px 20px;
  white-space: pre-wrap;
  font-family: 'Source Code Pro', monospace;
  font-size: 11.5px;
  line-height: 12.5px;
}

#agent-form input {
  border: 0;
  border-top: 1px solid #ddd;
}

#agent-form textarea {
  border: 0;
  border-top: 1px solid #ddd;
  height: 350px;
  padding: 10px 40px 10px 20px;
  white-space: pre-line;
  font-family: 'Source Code Pro', monospace;
}

#agent-form .name-and-image {
  padding-bottom: 20px;
}
#agent-form input.agent-name-input {
  font-size: 32px;
  padding-left: 20px;
}
#agent-form input.image-extras {
  border: none;
  height: 35px;
}

.agent-buttons button {
  margin-right: 5px;
}

.agent {
  height: 100%;
}

.agent .twoColumn .col1 {
  width: 70%;
}

.agent .twoColumn .col2 {
  width: 30%;
  border-left: 1px solid #ccc;
  margin: 0;
  padding: 10px;
  max-height: 70%;
  overflow-y: scroll;
}

.intro-main,
.response-cell {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #ddd;
}

.intro-main:hover {
  background-color: #f7f7f7;
  cursor: pointer;
}

#add-intro {
  border-top: 1px solid #ddd;
}

#intro-ta {
  border: none;
  height: 100px;
  padding: 0;
}



.twoColumn {
  display: flex;
  flex-direction: row;
}

.twoColumn>.col1 {
  width: 96px;
}

.intro-user-pic {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 46px;
  background-size: 46px;
  border-radius: 23px;
  margin: 10px 0 0 20px;
}

.intro-user-pic img {
  border-radius: 50%;
  width: 46px;
  height: 46px;
}

.twoColumn>.col2 {
  margin: 10px;
  font-size: 14px;
  width: 100%;
}

.col2 .author {
  font-weight: bold;
}

.col2 .time {
  color: #999;
  padding-left: 4px;
}

.col2 .text {
  padding: 8px 13% 20px 0;
}


#intro-form-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.padding {
  width: 100%;
}

.response-icon {
  font-size: 16px;
}

.file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  width: 32px;
  height: 32px;
}

.nav {
  cursor: pointer;
}

.nav:hover {
  color: #777;
}

.responses span {
  vertical-align: middle;
  padding-right: 3px;
}

.intro-home .text {
  font-size: 24px;
  line-height: 36px;
}

.preview {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 80%;
  font-size: 12px;
  height: 20px;
  padding-left: 40px;
}


.preview img {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}